{% extends 'base.html' %}
{% load static %}
{% block active_services %} active {% endblock %}

{% block content %}
<br><br><br><br>
<section id="services" class="services section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>How We Care for Your Future Companion</p>
    </div>
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-house-heart-fill" style="color: #5cb85c;"></i>
                    </div>
                    <a href="/raising-process/" class="stretched-link">
                        <h3>Loving Home Raising</h3>
                    </a>
                    <p>Our puppies are raised in our home with constant love and attention, ensuring they are
                        well-adjusted to family life from day one.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-clipboard-check-fill" style="color: #007bff;"></i>
                    </div>
                    <a href="/health-guarantee/" class="stretched-link">
                        <h3>Comprehensive Health Care</h3>
                    </a>
                    <p>We prioritize the health of our puppies, providing thorough vet checks, initial vaccinations, and
                        deworming before they go to their new homes. Health records are provided.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-person-hearts" style="color: #ffc107;"></i>
                    </div>
                    <a href="/socialization-program/" class="stretched-link">
                        <h3>Early Socialization Program</h3>
                    </a>
                    <p>Our puppies are introduced to various sights, sounds, people, and gentle handling from a young
                        age to develop friendly and confident personalities.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-chat-dots-fill" style="color: #e83e8c;"></i>
                    </div>
                    <a href="/adoption-process/" class="stretched-link">
                        <h3>Guidance on Adoption</h3>
                    </a>
                    <p>We provide guidance and support throughout the adoption process to ensure our puppies find the
                        perfect loving forever homes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-question-circle-fill" style="color: #28a745;"></i>
                    </div>
                    <a href="/post-adoption-support/" class="stretched-link">
                        <h3>Post-Adoption Support</h3>
                    </a>
                    <p>We offer ongoing support and are available to answer any questions you may have after you welcome
                        one of our PlushPuppies into your family.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-file-earmark-text-fill" style="color: #6f42c1;"></i>
                    </div>
                    <a href="/information-resources/" class="stretched-link">
                        <h3>Information and Resources</h3>
                    </a>
                    <p>We provide helpful resources and information on puppy care, training tips, and breed-specific
                        details to help you and your new companion thrive.</p>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock content %}